GEMINI_API_KEY=
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

GOOGLE_REDIRECT_URI=
FRONTEND_SUCCESS_URL=
FRONTEND_ERROR_URL=